@media (max-width: 1199px) {
    .tiny-mail{
        width: 80%;
    }
    
}

@media (max-width: 991px) {
.tiny-social-icons{
    display: none;
}
.tiny-follow{
    display: block;
    text-align: right;
}
.tiny-follow span{
    font-size: 20px;
    color: #010101;
}
.tiny-slide ul li{
    width: 60px;
    height: 60px;
}
.tiny-slide ul li i{
    font-size: 30px;
}
.tiny-slide{
    padding: 100px 0;
}

/* feature section */
.tiny-feature-content{
    padding: 20px 0;
}
/* footer */
.tiny-footer-text ul{
    margin-bottom: 25px;
}
}

@media (max-width: 767px) {
    .tiny-mail{
        width: 80%;
    }
}

@media (max-width: 575px) {
    .tiny-subscription form{
        display: block;
    }
    .tiny-mail{
        width: 100%;
        margin-bottom: 15px;
    }
}